body{
    font-family: 'Poppins', sans-serif;
    background-color:white;
    box-sizing: border-box;
}
.navbar-brand{
    font-weight: 700;
}

.nav-link{
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-align: center;
}
.nav-link.active{
    font-weight: 700;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #CD4B39;
}

.navbar-expand-lg{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
h1{
    color: #CD4B39;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
}
h2{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.atlantis{
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;
}
p{
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -20px;
}

.button-lg-primary{
    color: #FFF;
    border: none;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: linear-gradient(180deg, #EC3338 38.02%, #7F1416 100%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.50);
}

span{
    color: #7F1416;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: #7F1416 2px;
}
a{
    text-decoration: none;
}

/* PROGRAM KEUNGGULAN */
#keunggulan{
    background: linear-gradient(180deg, #7F1416 0%, #CD4B39 42.19%);
}

.slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 237px;
    height: auto;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
.text-block{
    position: absolute;
    bottom: 20px;
    right: -5px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
h5{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 16px; /* 100% */
}
.image-item {
    border-radius: 10px;
}

.judul{
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

  /* Styles for mobile and tablets */
    @media only screen and (max-width: 1023px) {
        .slider-wrapper .slide-button {
        display: none !important;
        }
    
        .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
        }
    
        .slider-wrapper .image-list .image-item {
        width: 207px;
        height: 380px;
        }
    
        .slider-scrollbar .scrollbar-thumb {
        width: 20%;
        }
    }
    
/* Vidio */
.vidio{
  background-image: url('../img/11.png');
  height: 626px;
  width: 100%;
  background-size: cover;
  filter: brightness(50%);
}
/* VisiMisi */
h6{
  color: #CD4B39;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /
}

.judul1{
  color: #7F1416;

text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 25px;
}

.visi{
  color: #000;

text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

/* PENDAFTARAN */
.list{
  color: #CD4B39;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.stages{
  color: #CD4B39;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.regulation{
  color: #555;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

.form-control{
  border-radius: 5px;
  height: 66px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.form-label{
  color: #333;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-select{
   border-radius: 5px;
  height: 66px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.button-list{
  width: auto;
  display: inline-flex;
  padding: 10px 74px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #7F1416;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

  color: #FFF;

  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vision{
  color: #FF8653;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 225% */
}

/* STRUKTUR ORGANISASI */
.converted{
  height: 290px;
  background:url('../img/wallpaper.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ty{
  color: #FFF;

font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.df{
  color: #000;
font-family: poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.75px;
}

/* KURIKULUM */
.text1{
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* KENGGULAN */
.boxi{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 37px;
  background: #CD4B39;
}
.ente{
  color: #FFF;
  text-align: justify;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
}
.enterpreneur{
  color: #000;

text-align: justify;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.6px;
}

.boxy{
  background: url('../img/smpkeuggulan.png');
  background-size: cover;
  height: 229px;
  
}

.lo{
  color: #FFF;

text-align: justify;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
letter-spacing: 0.6px;
}

.text2{
  color: #FFF;
text-align: justify;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.48px;
}


.picture1{
  background-image: url('../img/SMP\ KEUNGGULAN-02-min\ 1.png');
  background-size: cover;
  height: 537px;
  width: auto;
}

.full{
  background: rgba(205, 75, 57, 0.80);
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 399px;

}
.penjelasan{
 

  color: #FFF;

text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: -0.48px;

}

.output{
  color: #FFF;
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  letter-spacing: -0.6px;
}


@media (min-width: 360px) and (max-width: 401px) {
  .full{
    top: 320px;
  }
}
@media (min-width: 402px) and (max-width: 499px) {
  .full{
    top: 339px;
  }
}

@media (min-width: 500px){
  .full{
    top: 359px;
  }
}
@media (min-width: 768px) {
  .full{
    top: 378px;
  }
}

@media (min-width: 992px) {
  .full{
    top: 399px;
  }
}


